@import 'openstad-elements';
@import 'openstad-formelements';
@import 'openstad-reaction';
@import 'openstad-images';

.openstad-component-ideas-on-map {

  box-sizing: border-box;

  position: relative;
  width: 100%;
  height: 100%;

  h3, h4 {
    font-weight: bold;
    margin: 0;
    paddin: 0;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .openstad-component-ideas-on-map-filterbar {

		display: flex;
		flex-direction: row;
		
    width: 100%;
    padding: 10px 15px;
    background-color: #f5f5f5;

		.openstad-component-search {

			position: relative;
			flex-grow: 2;
			
			.openstad-component-search-suggestions {

				position: absolute;
				top: 44px;
				left: 0px;
				width: 400px;
				padding: 10px;
				font-size: 14px;
				line-height: 1.5em;
				color: #666;
				background-color: white;
				border: solid 1px #434343;
				z-index: 30;

				strong {
					font-weight: 800;
				}

				.openstad-component-search-suggestions-hr {
					width: 100%;
					height: 1px;
					margin: 10px 0;
					border-top: 1px solid #434343;
				}

				.openstad-component-search-suggestion {
					.openstad-arrow-right-black-background;
					padding-left: 15px;
					color: black;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					cursor: pointer;
				}

				.openstad-component-search-suggestion-idea {
				}
				
			}

		}

		.openstad-align-right-container {
			flex-grow: 1;
		}

    .openstad-component-backbutton {
      .openstad-arrow-left-black-background;
			margin-left: 10px;
			padding-left: 20px;
      line-height: 44px;
      cursor: pointer;
    }

  }

  .openstad-component-ideas-on-map-info {

    h3 {
      margin-bottom: 10px;
    }

    .openstad-component-image {
      background-repeat: no-repeat;
      background-size: cover;
    }

    position: absolute;
    top: 64px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;

    .openstad-component-info-block-default-block,
    .openstad-component-info-block-new-idea,
    .openstad-component-info-block-selected-idea {
      position: relative;
      width: 100%;
      padding: 20px 20px;
      background-color: #f5f5f5;

      .openstad-component-info-block-selected-idea-idea {
        position: relative;
        width: calc(100% + 30px);
        padding: 0 20px;
        margin: 0 -20px -10px -20px;
        cursor: pointer;

        .openstad-stats {
          width: calc(100% - 227px);
        }

      }

    }

    .openstad-component-info-block-default-block {

      margin-bottom: 20px;

      .openstad-component-info-block-default-block-line {

        padding-bottom: 18px;
        padding-left: 50px;
        
        &.openstad-component-line-1 {
          .openstad-plus-black-background();
        }
        
        &.openstad-component-line-2 {
          .openstad-info-black-background();
        }
        
        &.openstad-component-line-3 {
          .openstad-list-black-background();
        }

      }

    }
    
    .openstad-component-info-block-new-idea {
    }

    .openstad-component-info-block-selected-idea {
			cursor: pointer;
    }

    .openstad-component-info-block-ideas-list {

      .openstad-title {
        padding: 0 20px;
      }


      .openstad-component-info-block-ideas-list-idea {

        position: relative;
        width: 100%;
        padding: 15px 20px 0 20px;
        background-color: white;
        cursor: pointer;
        border-bottom: 1px solid #e6e6e6;

      }

    }

    .openstad-component-info-block-new-idea,
    .openstad-component-info-block-selected-idea, 
    .openstad-component-info-block-ideas-list {

      h4 {
        margin-bottom: 5px;
      }

      .openstad-component-image {
        float: left;
        width: 177px;
        height: 133px;
        margin-right: 20px;
        margin-bottom: 15px;
      }

      .openstad-summary {
        height: 75px;
        padding-right: 20px;
        overflow: hidden;
      }

      .openstad-stats {
        position: absolute;
        width: calc(100% - 237px);
        height: 20px;
        left: 217px;
        bottom: 13px;

        .openstad-likes {
          .openstad-thumbs-up-black-background();
          background-position: 0px -1px;
          float: left;
          width: 70px;
          padding-left: 30px;
          line-height: 25px;
        }

        .openstad-reactions {
          .openstad-reactions-black-background();
          float: left;
          width: 70px;
          padding-left: 30px;
          line-height: 25px;
        }

        .openstad-type {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30px;
          height: 30px;
          border-width: 20px;
          border-style: solid;
          border-radius: 20px;

          .openstad-type-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
          }

        }

        
      }
    }

    .openstad-component-ideas-on-map-map {

      position: absolute !important;
      top: 64px;

      .openstad-component-ideas-on-map-icon {

        &.openstad-component-ideas-on-map-icon-text {
          font-size: 12px;
          font-weight: bold;
          text-align: center;
        }

      }

    }

  }

  .openstad-component-idea-details {

    width: 920px;
    margin: 0 auto;

    .openstad-component-details-image-and-stats {

      position: relative;
      
      .openstad-component-image {
        width: 700px;
        height: 375px;
      }

      .openstad-component-details-stats {

        position: absolute;
        top: 0;
        left: 720px;
        width: 200px;
        height: 375px;

        .openstad-component-vote-button {
	        box-sizing: border-box;
	        text-decoration: none;
	        display: block;
	        margin-bottom: 20px;
	        height: 43px;
	        margin-bottom: 4px;

	        .openstad-component-number-button-text {
            .openstad-thumbs-up-white-background();
            padding-left: 50px;
	        }

        }

        .openstad-component-no-of-reactions {
          .openstad-reactions-blue-background();
          color: #004699;
          padding-left: 30px;
          line-height: 25px;
        }
        
      }

    }

    .openstad-component-details-sharebuttons {

      width: 700px;

      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 30px;
        list-style-type: none;

        li {
          display: inline-block;
          width: 34px;
          height: 30px;
        }

        a {
          display: block;
          font-size: 0;
          line-height: 0;
          width: 30px;
          height: 30px;
          margin: 0 0 0 4px;

          &.openstad-share-email {
            .openstad-share-email-background();
          }

          &.openstad-share-facebook {
            .openstad-share-facebook-background();
          }

          &.openstad-share-twitter {
            .openstad-share-twitter-background();
          }

          &.openstad-share-whatsapp {
            .openstad-share-whatsapp-background();
          }

        }
        
      }

    }

    .openstad-component-details-summary,
    .openstad-component-details-description {
      width: 700px;
    }

    .openstad-component-details-summary {
      font-weight: 600;
    }

  }

  .openstad-component-ideas-on-map-idea-form {  

    .osc-form {
      width: 700px;
      margin: 0 auto;
    }

  }

  .openstad-component-reactions-header {

    width: 100%;
    background-color: #f5f5f5;
    margin: 20px 0;

    h3 {
      width: 920px;
      margin: 0 auto;
      line-height: 44px;
    }

  }

  .openstad-component-reactions {

    width: 920px;
    padding-right: 395px;
    margin: 0 auto;

  }
  
  &.openstad-component-ideas-on-map-idea-details,
  &.openstad-component-ideas-on-map-idea-form {

    .openstad-component-ideas-on-map-info {
      left: 0;
      width: 1100px;
      height: calc( 100% - 64px );
    }

    .openstad-component-ideas-on-map-map {
      left: 1100px;
      width: calc(100% - 1100px);
      height: calc( 100% - 64px );
    }

  }

  &.openstad-component-ideas-on-map-default,
  &.openstad-component-ideas-on-map-idea-selected,
  &.openstad-component-ideas-on-map-location-selected {

    .openstad-component-ideas-on-map-info {
      left: 0;
      width: 687px;
      height: calc( 100% - 64px );
    }

    .openstad-component-ideas-on-map-map {
      left: 687px;
      width: calc(100% - 687px);
      height: calc( 100% - 64px );
    }

  }

}

